.prefecturePath {
    stroke: var(--color-path-inert-stroke);
    fill: none;
    stroke-width: 0.2;
    stroke-linecap: square;
    stroke-linejoin: bevel;
    pointer-events: none;
}

path {
    stroke: var(--color-path-stroke);
    fill: var(--color-path-fill);
    stroke-width: 0.1;
    stroke-linecap: square;
    stroke-linejoin: bevel;
}