path {
    stroke: var(--color-path-stroke);
    stroke-width: 0.2;
    fill: var(--color-path-fill);
    shape-rendering: optimizeSpeed;
}

path.guessing:hover {
    fill: var(--color-path-hover) !important;
    transition: none !important;
}

#Romaji {
    opacity: 0;
    transform: translateY(-0.375rem);
    transition: opacity 0.25s ease, transform 0.25s ease;

    font-size: 2rem;
}

#Kanji {
    font-size: 4rem;
}

#continueButton {
    opacity: 0;
    transform: translateY(-0.375rem);
    transition: opacity 0.25s ease, transform 0.25s ease;
    pointer-events: none;
}