html, body {
    margin: 0;
    height: 100%;
    font-family: sans-serif;
    background: #80dbff31;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background: linear-gradient(120deg, #80dbff31, #c2f3fa);
    box-sizing: border-box;
}

path { 
    transition: fill 0.3s ease;
    cursor: crosshair;
}

#mapContainer {
    height: 100%;
    width: 100%;
    flex: 1;
    background: rgba(194, 243, 250, 0.644);
    border: 1px solid #ccc;
    min-height: 0;
    position: relative;
    overflow: hidden;
}

#map {
    width: 100%;
    height: 100%;
    display: block;
    cursor: grab;
}

#homeButton {
    position: absolute;
    top: 0.625rem;
    right: 0.625rem;

    width: 2rem;
    height: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    
    text-decoration: none;
    color: black;

    font-size: 1rem;
}

#homeButton:hover {
    background: rgb(241, 241, 241);
}

#switchButton {
    position: absolute;
    top: 0.625rem;
    right: 4rem;

    width: 6.25rem;
    height: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: black;

    font-size: 1rem;
}

#switchButton:hover {
    background: rgb(241, 241, 241);
}

#expertButton {
    position: absolute;
    top: 0.625rem;
    right: 11.675rem;

    width: 6.25rem;
    height: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: black;

    font-size: 1rem;
}

#expertButton:hover {
    background: rgb(241, 241, 241);
}

#continueButton {
    line-height: 1;
    margin-top: auto;
    text-align: center;
    font-size: 2rem;
    cursor: pointer;

    position: absolute;
    bottom: 0.625rem;
    right: 0.625rem;

    padding-left: 6.25rem;
    padding-right: 6.25rem;
}

#continueButtonNotice {
    font-size: 1rem;
    line-height: 1;
    margin: 0;
}

#continueButton:hover {
    background: rgb(241, 241, 241);
}

#upperLeftBox {
    position: absolute;
    top: 0.625rem;
    left: 0.625rem;
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
    pointer-events: none;
    font-size: 1.25rem;
    text-align: center;
    max-width: 30vw;
}

#legendBox {
    opacity: 0;
    transform: translateY(-0.375rem);
    transition: opacity 0.25s ease, transform 0.25s ease;

    pointer-events: none;
    
    position: absolute;
    bottom: 0.625rem;
    left: 0.625rem;

    display: flex;
    flex-direction: column;

    font-size: 0.75rem;
}

.legendItem {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.25rem;
    pointer-events: none;
}

.colorBox {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 0.125rem;
    display: inline-block;
}

.colorBox.correct { background: #2ECC71; }

.colorBox.wrong { background: #E74C3C; }

.colorBox.missing { background: #1F6FEB; }

.background {
    padding: 0.5rem;
    border-radius: 0.375rem;
    border: 0;

    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(0.25rem);
    box-shadow: 0 0.125rem 0.375rem rgba(0,0,0,0.2);
}

.show {
    opacity: 1 !important;
    transform: translateY(0) !important;
    pointer-events: auto !important;
}